{% extends 'control-panel/index.html.twig'%}


{% block content %}
<div class="min-vh-100 pt-5">
    <div class="container pt-5 ">

        <div class="row gx-5 justify-content-center">
            <div class="col-md-8 col-lg-5">
                <h1>Add variant</h1>
                {{ form(variantAddForm, {'method': 'POST'}) }}
            </div>
        </div>

    </div>
</div>
{% endblock %}
