###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###

storage/users
storage/artifacts

###> symfony/phpunit-bridge ###
.phpunit.result.cache
###< symfony/phpunit-bridge ###

/public/assets/content
!/public/assets/content/.gitignore
