<div class="text-start w-100 d-flex flex-row justify-content-start">
    {{ form_row(form.isVisible, {'label': false}) }}

    <span class="text-uppercase">-- Call To Action --</span>
</div>
{{ form_row(form.text) }}
{{ form_row(form.link) }}
