{% extends 'base.html.twig'%}

{% block header %}
    <div id="header" class="fixed-top">
        {% include "control-panel/components/header/fixed-top.html.twig" %}

        <div>
            {% embed "_notification/flash/messages.flash.html.twig" %}{% endembed %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="bg-gradient-primary min-vh-100 pt-5">
        <div class="container pt-5 text-white">
            <div class="row">
                control panel
            </div>
        </div>
    </div>
{% endblock %}
