{% extends 'base.html.twig'%}

{% block header %}
    {% include "control-panel/components/header/fixed-top.html.twig" %}
{% endblock %}

{% block content %}
    <div class="bg-gradient-primary min-vh-100 pt-5">
        <div class="container pt-5 text-white">
            <div class="row">
                control panel
            </div>
        </div>
    </div>
{% endblock %}
