{% extends 'base.html.twig'%}

{% block headstylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('style-cp.css', 'css')) }}">
{% endblock %}

{% block header %}
    <div id="header" class="fixed-top z-3">
        {% include "control-panel/components/header/fixed-top.html.twig" %}
    </div>
{% endblock %}

{% block content %}
    <div class="bg-gradient-primary min-vh-100 pt-5">
        <div class="container pt-5 text-white">
            <div class="row">
                control panel
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div id="footer" class="footer pt-5">
    </div>
{% endblock %}
