{% set routeCurrent = app.request.get('_route') %}
<!-- Header Section -->
<header  class="header">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">

            <a class="navbar-brand" href="/">AI Resume Builder</a>

            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link {% if routeCurrent == 'cp_user_show' %}active{% endif %}" href="{{ absolute_url(path('cp_user_show', {'user': app.user.username})) }}">Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if routeCurrent == 'cp_project_list' %}active{% endif %}" href="{{ absolute_url(path('cp_project_list')) }}">My Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Community Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Request help</a>
                    </li>
                </ul>

                {% if app.request.get('_route') == 'app_homepage' %}
                    {% include 'landing-page/components/buttons/subscription.html.twig' with {'classes': 'ms-auto'} %}
                {% endif %}

                {% if app.user is null %}
                    {% include 'landing-page/components/buttons/login.html.twig' with {'isLink': true} %}
                {% endif %}
            </div>

        </div>
    </nav>
</header>
