{% set blockName = 'howitworks_v1' %}

<div class="d-flex flex-column justify-content-center align-content-center mb-2">
    <button
        class="btn btn-primary rounded-1"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseHowItWorksBuilderForm"
        aria-expanded="true"
        aria-controls="collapseHowItWorksBuilderForm"
    >
        How it works section
    </button>

    <div class="collapse card mt-1 p-1" id="collapseHowItWorksBuilderForm">

        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" role="switch">
            <label class="form-check-label" for="flexCheckDefault">
                Enable
            </label>
        </div>

        <div class="mb-3">
            <label for="basic-url" class="form-label">Header text</label>
            <div class="input-group">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
            </div>
        </div>

        <div class="mb-3">
            <label for="basic-url" class="form-label">Step 1 capture</label>
            <div class="input-group">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
            </div>
        </div>

        <div class="mb-3">
            <label for="basic-url" class="form-label">Step 1 description</label>
            <div class="input-group">
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">Step 1 Image/Video</label>
            <input type="file" class="form-control" id="inputGroupFile01">
        </div>

        <div class="mb-3">
            <label for="basic-url" class="form-label">Step 2 capture</label>
            <div class="input-group">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
            </div>
        </div>

        <div class="mb-3">
            <label for="basic-url" class="form-label">Step 2 description</label>
            <div class="input-group">
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">Step 2 Image/Video</label>
            <input type="file" class="form-control" id="inputGroupFile01">
        </div>

        <div class="mb-3">
            <label for="basic-url" class="form-label">Step 3 capture</label>
            <div class="input-group">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
            </div>
        </div>

        <div class="mb-3">
            <label for="basic-url" class="form-label">Step 3 description</label>
            <div class="input-group">
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">Step 3 Image/Video</label>
            <input type="file" class="form-control" id="inputGroupFile01">
        </div>


    </div>
</div>
