{% set blockName = 'navigation_v1' %}

<div class="d-flex flex-column justify-content-center align-content-center mb-2">
    <button
        class="btn btn-primary rounded-1"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseNavigationBuilderForm"
        aria-expanded="true"
        aria-controls="collapseNavigationBuilderForm"
    >
        Navigation section
    </button>

    <div class="collapse card mt-1 p-1" id="collapseNavigationBuilderForm">

        <div class="mb-3">
            <label for="basic-url" class="form-label">Home</label>
            <div class="input-group">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" placeholder="text">
            </div>
        </div>

        <div class="mb-3">
            <label for="basic-url" class="form-label">Cover</label>
            <div class="input-group">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" placeholder="text">
            </div>
        </div>

        <div class="mb-3">
            <label for="basic-url" class="form-label">Features</label>
            <div class="input-group">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" placeholder="text">
            </div>
        </div>

        <div class="mb-3">
            <label for="basic-url" class="form-label">How it works</label>
            <div class="input-group">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" placeholder="text">
            </div>
        </div>

        <div class="mb-3">
            <label for="basic-url" class="form-label">Reviews</label>
            <div class="input-group">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" placeholder="text">
            </div>
        </div>

        <div class="mb-3">
            <label for="basic-url" class="form-label">Pricing</label>
            <div class="input-group">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" placeholder="text">
            </div>
        </div>

        <div class="mb-3">
            <label for="basic-url" class="form-label">Newsletter</label>
            <div class="input-group">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" placeholder="text">
            </div>
        </div>

    </div>
</div>
