{% set blockName = 'navigation_v1' %}

<div class="d-flex flex-column justify-content-center align-content-center mb-2">
    <button
        class="btn btn-primary rounded-1"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseNavigationBuilderForm"
        aria-expanded="true"
        aria-controls="collapseNavigationBuilderForm"
    >
        {{ builderForm.navigationLinksText.vars.label }}
    </button>

    <div class="collapse card mt-1 p-1" id="collapseNavigationBuilderForm">

        {{ form_row(builderForm.navigationLinksText, {'label' : false}) }}

    </div>
</div>
