{% set blockName = 'testimonial_v1' %}

<div class="d-flex flex-column justify-content-center align-content-center mb-2">
    <button
        class="btn btn-primary rounded-1"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTestimonialBuilderForm"
        aria-expanded="true"
        aria-controls="collapseTestimonialBuilderForm"
    >
        {{ builderForm.testimonial.vars.label }}
    </button>

    <div class="collapse card mt-1 p-1" id="collapseTestimonialBuilderForm">

        {{ form_row(builderForm.testimonial, {'label' : false}) }}

    </div>
</div>
