<!-- Footer Section -->
<footer class="footer">
    <div class="container">
        <p>&copy; 2024 AI Resume Builder. All Rights Reserved.</p>
        <p>
            <a href="#" class="text-black">Privacy Policy</a> |
            <a href="#" class="text-black">Terms of Service</a> |
            <a href="#" class="text-black">Contact Us</a>
        </p>
        <p>
            <a href="#"><img src="{{ absolute_url(asset('social-icons/linkedIn.png', 'img')) }}" alt="linkedin"></a>
            <a href="#"><img src="{{ absolute_url(asset('social-icons/telegram.png', 'img')) }}" alt="telegram"></a>
            <a href="#"><img src="{{ absolute_url(asset('social-icons/youtube.png', 'img')) }}" alt="youtube"></a>
        </p>
    </div>
</footer>
