<!-- How It Works Section -->
<section id="how-it-works" class="how-it-works bg-light">
    <div class="container text-center">

        {% if data.head is defined and data.head is not null and data.head|length > 0 %}
            <div class="row">
                <div class="col mb-5">
                    <h2>{{ data.head }}</h2>
                </div>
            </div>
        {% endif %}

        {% for step in data.items %}
            <div class="row mb-5">
                <div class="col-md-7 {% if loop.index % 2 == 0 %}order-md-2{% endif %}">
                    <h2 class="featurette-heading fw-normal lh-1">{{ step.head }}</h2>
                    <p class="lead">{{ step.description }}</p>
                </div>
                <div class="col-md-5 {% if loop.index % 2 == 0 %}order-md-1{% endif %}">
                    <img
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                        src="{{ absolute_url(asset( step.thumb, 'img')) }}"
                        alt="icon"
                    >
                </div>
            </div>
        {% endfor %}

    </div>
</section>
