{% extends 'base.html.twig'%}

{% block content %}
    <div class="container pt-5">
        <div class="row pt-5">
            <p>
                prompt: {{ data.prompt }}
            </p>

            <div>
                    answer:
                <pre class=" w-100">
                    <code class="language-json">
                        {{ data.answer }}
                    </code>
                </pre>
            </div>

        </div>
    </div>
{% endblock %}
